{% extends "template_parts/base.html" %}


{% block content %}

<main>

	<div class="container-fluid" style="max-width: 1140px;">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
			<h1 class="mb-0 text-white">Blackjack</h1>
			<h1 class="mb-0">
				<span class="badge border border-5 border-white rounded-3">Score: {{ total_score }}
					{% if score < 0 %}
						<span class="text-danger">({{ score }})</span>
					{% else %}
						<span>(+{{ score }})</span>
					{% endif %}
				</span></h1>
		</div>

		<hr class="border border-5 border-white rounded-3 opacity-100">

		<div class="m-auto" id="input_img_container">
			<h3 class="text-white mt-3">Dealers cards</h3>
			<div class="border border-5 border-white dealer_cards_container my-3 rounded-3 overflow-hidden">
				<img class="h-auto" src="{{ url_for('study.get_image', filename=game_id|string + '/' + dealer_sample_number|string + '/dealer_cards.jpeg') }}" width="100%">
			</div>
			<h3 class="text-white mt-3">Players cards</h3>
			<div class="border border-5 border-white player_cards_container my-3 rounded-3 overflow-hidden">
				<img class="h-auto" src="{{ url_for('study.get_image', filename=game_id|string + '/' + player_sample_number|string + '/player_cards.jpeg') }}" width="100%">
			</div>
		</div>

	<div class="bg-white p-3 mt-4 rounded-3">
		{% if score < 0 %}
			<h2>You lost!</h2>
			<p>Good Effort! You played a commendable game of blackjack. To recap the game, the hand totals were:</p>
		{% elif score == 0 %}
			<h2>It's a draw!</h2>
			<p>You played a great game of blackjack but this time it was a draw! To recap the game, the hand totals were:</p>
		{% else %}
			<h2>You've won!'</h2>
			<p>Congratulations! You played your cards right and won this game of blackjack! To recap the game, the hand totals were:</p>
		{% endif %}

		<ul class="list-group mb-3">
			<li class="list-group-item">Dealer's total: {{ dealer_total }}</li>
			<li class="list-group-item">Your total: {{ player_total }}</li>
		</ul>

		<p class="mb-0">Continue to the next game by clicking the next button bellow.</p>

		<div class="d-grid mx-auto mt-5">
			<a class="btn btn-primary btn-lg mx-auto" href="{{ url_for('study.samples') }}" id="next_game" role="button">Continue</a>
		</div>
	</div>

	</div>

</main>

{% endblock %}
